.check_title h2 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  background: #e8f0f2;
  line-height: 40px !important;
  padding-left: 30px;
  margin-bottom: 0px;
  font-weight: 400;
}
.check_title h2 a {
  color: #c5322d;
  text-decoration: underline;
  font-weight: 400;
}

.returning_customer p {
  margin-top: 15px;
  padding-left: 30px;
  margin-bottom: 25px;
  font-weight: 400;
}
.returning_customer .contact_form {
  max-width: 710px;
  margin-left: 15px;
}
.returning_customer .contact_form .form-group {
  margin-bottom: 20px;
}
.returning_customer .contact_form .form-group input {
  border: 1px solid #eeeeee;
  height: 40px;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
}
.returning_customer .contact_form .form-group input.placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
}
.returning_customer .contact_form .form-group input:-moz-placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
}
.returning_customer .contact_form .form-group input::-moz-placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
}
.returning_customer .contact_form .form-group input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
}
.returning_customer .contact_form .form-group .primary-btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 2px;
  border: none;
}
.returning_customer .contact_form .form-group .creat_account {
  display: inline-block;
  margin-left: 15px;
}
.returning_customer .contact_form .form-group .creat_account input {
  height: auto;
  margin-right: 10px;
}
.returning_customer .contact_form .form-group .lost_pass {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: normal;
}

.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px;
}

.p_star {
  display: inline-block;
  position: relative;
}

.p_star input {
  background: #fff;
}

.p_star input:focus + .placeholder {
  display: none;
}

.p_star .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 1;
  background-color: white;
}

.p_star .placeholder::before {
  content: attr(data-placeholder);
  color: #777;
  font-weight: 400;
}

.p_star .placeholder::after {
  content: " *";
  color: tomato;
}

.cupon_area {
  margin-bottom: 40px;
}
.cupon_area input {
  margin-left: 30px;
  max-width: 730px;
  width: 100%;
  display: block;
  height: 40px;
  border-radius: 3px;
  padding: 0px 15px;
  border: 1px solid #eeeeee;
  outline: none;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cupon_area .tp_btn {
  margin-left: 30px;
}

.tp_btn {
  border: 1px solid #eeeeee;
  display: inline-block;
  line-height: 38px;
  padding: 0px 40px;
  color: #222222;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.3s all ease;
}
.tp_btn:hover {
  background: #ffba00;
  color: #fff;
  border-color: #ffba00;
}

.billing_details h3 {
  font-size: 18px;
  color: #222222;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.billing_details .contact_form .form-group {
  margin-bottom: 20px;
}
.billing_details .contact_form .form-group input {
  border-radius: 3px;
  color: #777777;
}
.billing_details .contact_form .form-group input.placeholder {
  color: #777777;
}
.billing_details .contact_form .form-group input:-moz-placeholder {
  color: #777777;
}
.billing_details .contact_form .form-group input::-moz-placeholder {
  color: #777777;
}
.billing_details .contact_form .form-group input::-webkit-input-placeholder {
  color: #777777;
}
.billing_details .contact_form .form-group textarea {
  height: 150px;
  border-radius: 3px;
  margin-top: 15px;
}
.billing_details .contact_form .form-group .country_select {
  width: 100%;
}
.billing_details .contact_form .form-group .country_select span {
  color: #777777;
}
.billing_details .contact_form .form-group .country_select .list {
  width: 100%;
  border-radius: 0px;
}
.billing_details .contact_form .form-group .country_select .list li {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.billing_details .contact_form .form-group .creat_account #f-option2 {
  margin-right: 5px;
}
.billing_details .contact_form .form-group .creat_account #f-option3 {
  margin-right: 5px;
}
.billing_details .contact_form .form-group .creat_account a {
  color: #ffba00;
}
.contact_form .form-group textarea.form-control {
    height: 134px;
    resize: none;
}
.order_box {
  background: #e5ecee;
  padding: 30px;
}
.order_box h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  font-weight: 500;
  color: #222222;
  padding-bottom: 15px;
}
.order_box .list li a {
  font-size: 14px;
  color: #777777;
  font-weight: normal;
  border-bottom: 1px solid #eeeeee;
  display: block;
  line-height: 42px;
}
.order_box .list li a span {
  float: right;
}
.order_box .list li a .middle {
  float: none;
  width: 50px;
  text-align: right;
  display: inline-block;
  margin-left: 30px;
  color: #222222;
}
.order_box .list li:nth-child(4) a .middle {
  margin-left: 48px;
}
.order_box .list_2 li a {
  text-transform: uppercase;
  color: #222222;
  font-weight: 500;
}
.order_box .list_2 li a span {
  color: #777777;
  text-transform: capitalize;
}
.order_box .list_2 li:last-child a span {
  color: #222222;
}
.order_box .payment_item h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 500;
  padding-left: 22px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}
.order_box .payment_item h4:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  background: #fff;
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.order_box .payment_item h4:after {
  content: "";
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 5px;
  top: 8px;
}
.order_box .payment_item h4 img {
  padding-left: 60px;
}
.order_box .payment_item p {
  background: #fff;
  padding: 20px;
  margin: 20px 0px;
}
.order_box .payment_item.active h4:before {
  background: #ffba00;
  border-color: #ffba00;
}
.order_box .creat_account {
  margin-bottom: 15px;
}
.order_box .creat_account label {
  padding-left: 10px;
  font-size: 12px;
  color: #222222;
}
.order_box .creat_account a {
  color: #c5322d;
}
.order_box .primary-btn {
  display: block;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
}
.order_box .primary-btn:hover:before {
  left: 310px;
}

.order_details .title_confirmation {
  text-align: center;
  color: #28d500;
  font-size: 18px;
  margin-bottom: 80px;
}

.order_d_inner .details_item h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  font-size: 18px;
  color: #222222;
  padding-left: 18px;
}
.order_d_inner .details_item .list {
  padding-left: 18px;
}
@media (min-width: 767px) {
  .order_d_inner .details_item .list {
    margin-bottom: 30px;
  }
}
.order_d_inner .details_item .list li {
  margin-bottom: 8px;
}
.order_d_inner .details_item .list li:last-child {
  margin-bottom: 0px;
}
.order_d_inner .details_item .list li a {
  font-size: 14px;
  color: #222222;
  font-family: "Roboto", sans-serif;
}
.order_d_inner .details_item .list li a span {
  width: 145px;
  display: inline-block;
  color: #777777;
}

.order_details_table {
  background: #e5ecee;
  padding: 30px;
  margin-top: 75px;
}
@media (min-width: 767px) {
  .order_details_table {
    margin-top: 45px;
  }
}
.order_details_table h2 {
  color: #222222;
  font-size: 18px;
  padding-bottom: 15px;
}
.order_details_table .table {
  margin-bottom: 0px;
}
.order_details_table .table thead tr th {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.order_details_table .table tbody tr td p {
  margin-bottom: 0px;
}
.order_details_table .table tbody tr td h5 {
  color: #222222;
  margin-bottom: 0px;
}
.order_details_table .table tbody tr td h4 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #222222;
}
.order_details_table .table tbody tr:last-child td {
  border-top: 1px solid #ddd;
}
.order_details_table .table tbody tr:last-child td p {
  color: #222222;
}
.radion_btn img {
    position: relative;
    left: 55%;
}
.order_box .primary-btn {
    display: block;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    color: white;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}
.pixel-radio {
    border-radius: 50%;
    top: 6px;
}
.pixel-radio:checked {
    border: 7px solid #ffba00;
}